plugins/expo-sqlite-orm/*
plugins/react-native-reanimated-flip/*
plugins/react-native-swipe-list-view/*
plugins/sticky-parallax-header/*
tailwind-config/*
babel.config.js
jest.config.js
jest.setup.js
postcss.config.js
tailwind.config.js